<!-- ko if: isVisible() -->
    <div class="swedbank-pay-checkin__wrapper">
        <p class="swedbank-pay-checkin__subtitle" data-bind="i18n: 'Complete Purchase'"></p>

        <div id="checkin-widget" class="swedbank-pay-checkin__iframe" data-bind="afterRender: swedbankPaySetupHostedView"></div>
        <div class="swedbank-pay-checkin__actions">
            <!-- ko if: !isCheckedIn() -->
                <!-- ko if: !isRequired() -->
                    <!-- ko if: !isShippingSectionVisible() -->
                    <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: isCheckedIn() && !isShippingSectionVisible() -->
            <!-- /ko -->
        </div>
    </div>
<!-- /ko -->