.payex-checkout__wrapper {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 2rem 0;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(219,219,219,1);
-moz-box-shadow: 0px 0px 3px 3px rgba(219,219,219,1);
box-shadow: 0px 0px 3px 3px rgba(219,219,219,1);
}
.payex-checkout__wrapper .payex-checkin__wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 2rem 2rem;
}
.payex-checkout__wrapper li {
    list-style: none;
}
#opc-shipping_method, #shipping, .opc-block-summary, #checkout-payment-method-load, .discount-code  {
    background: #fff;
    border-top: 2px solid #2da944;
    padding: 2rem;
    margin-bottom: 1rem;
}
#checkout .step-title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
.discount-code .payment-option-title {
    border-top: 0;
}
.discount-code .payment-option-title .action-toggle {
    color: #2da944;
}
#checkout button.action {
   background-color: #2da944;
   border: 0; 
   color: #fff;
}
#checkout button.action:hover {
    background-color: lighten(#2da944, 10%);
}
#checkout a {
    color: #2da944;
}
#checkout .authentication-wrapper .action-auth-toggle {
    background-color: transparent;
    color: #2da944;
}
.no-quotes-block {
    padding: 1rem 2rem;
}
.opc-block-summary {
    border-top: 0;
    margin-bottom: 0;
}
.opc-block-summary > .title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 1.5rem; 
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}
.opc-block-summary .items-in-cart.active > .minicart-items {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.opc-block-summary .minicart-items .minicart-items-wrapper {
    margin: 0;
    padding: 0;
    overflow: initial;

}
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items * {
    margin: 0;
    padding: 0;
}

.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product,
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product-item-inner,
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product-item-name-block {
    display: flex;
    align-items: center;
}
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product-item-details,
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product-item-name-block {
    flex: 1 1 auto;
}
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product-item-inner {
    justify-content: space-between;
}
.opc-block-summary .minicart-items .minicart-items-wrapper .minicart-items .product-item-name {
    width: 60%;
}

#opc-shipping_method {
    margin-bottom: 0;
}
#opc-shipping_method .step-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 0;
}
#checkout .checkout-payment-method .payment-method {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
}
#checkout .checkout-payment-method .payment-method:hover {
    background-color: #e6e6e6;
}
#checkout .checkout-payment-method .payment-method._active:hover {
    background-color: transparent;
}
#checkout .checkout-payment-method .payment-method._active .payment-method-content {
    padding: 0 22px;
}
#checkout .checkout-payment-method .payment-option._collapsible .payment-option-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 22px
}
#checkout .checkout-payment-method .payment-method .payment-method-title {
    border: 0;
    cursor: pointer;
}

#checkout .checkout-payment-method .checkout-billing-address .billing-address-details {
    padding: 0;
}
#checkout .checkout-payment-method {
    padding-left: 0;
}
#checkout .checkout-payment-method .payment-option-inner input {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}
#checkout .checkout-payment-method .payment-option-inner {
    margin-top: 20px;
}
#checkout button.action-cancel {
    padding: 7px 15px;
    line-height: 1.6rem;
    font-size: 1.4rem;
    margin-top: 0;
}
#checkout .table-checkout-shipping-method tbody td {
    border-top: 0;
    padding: 1rem; 
}
#discount-form .label {
    display: none;
}
.opc-block-summary .items-in-cart .product-item {
    padding-bottom: 0;
}
.opc-block-summary .items-in-cart .title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;  
    border-bottom: 0; 
    padding: 15px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.opc-block-summary .items-in-cart .title > strong {
    line-height: inherit;
}
.opc-block-summary .items-in-cart .title:after {
    top: 23px;
    margin: 0;
    right: 20px;
}
#checkout .field-tooltip .field-tooltip-content {
    width: auto;
}
@media only screen and (max-width: 1450px) {
    #checkout .field-tooltip .field-tooltip-content {
        right: -10px;
        top: 40px;
        left: auto;
    }
    #checkout .field-tooltip .field-tooltip-content:before {
        height: 0;
        width: 0;
        margin-top: -21px;
        right: 10px;
        left: auto;
        top: 0;
        border-right-color: transparent;
        border-bottom-color: #666666;
    }
    #checkout .field-tooltip .field-tooltip-content:after {
        border: 10px solid transparent;
        height: 0;
        width: 0;
        margin-top: -21px;
        right: 10px;
        left: auto;
        top: 0;
        border-bottom-color: #f4f4f4;
        top: 1px; 
    }
}